@font-face {
  font-family: 'stellar';
  src: url('../../../public/fonts/Stellar-light.otf');
}

@font-face {
  font-family: 'ultra';
  src: url('../../../public/fonts/Ultra.otf');
}

aside {
  grid-area: sidebar;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside {
  border-radius: 0.5rem;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 10px 0 purple inset, 0 0 10px 4px purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.underline {
  text-decoration: underline;
}

.underline:hover {
  color: purple;
}

.sidebar-image {
  height: auto;
  max-width: 70%;
  opacity: 0.75;
  padding: 1rem 0.35rem 0.75rem 0;
  filter: drop-shadow(0px 0px 10px magenta);
}

.about {
  font-family: 'stellar', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: magenta;
  font-weight: 100;
  text-shadow: 0.1em 0 black, 0 0.1em black, -0.1em 0 black, 0 -0.1em black;
  padding: 10px 15px 5px 25px;
}

@media (max-width: 768px) {
  .about {
    font-size: 1.15rem;
  }
  .sidebar-image {
    max-width: 65%;
  }
}

@media (min-width: 768px) {
  aside {
    padding: 31px 0 0 15px;
  }
  .aside {
    width: 100%;
    margin: 0;
    padding: 1rem 0.75rem;
  }
}

@media (max-width: 768px) {
  aside {
    padding: 31px 15px 0 15px;
  }
}
