* {
  /* With these codes padding and border does not increase it's width and gives intuitive style.*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* FONT LOAD */
@font-face {
  font-family: 'ultra';
  src: url('./fonts/Ultra.otf');
}
@font-face {
  font-family: 'stellar';
  src: url('./fonts/Stellar-light.otf');
}
@font-face {
  font-family: 'media1';
  src: url('./fonts/Socialico-Regular.otf');
}
@font-face {
  font-family: 'media2';
  src: url('./fonts/SocialicoPlus-Plus.otf');
}

html {
  height: 100%;
}

/* BODY */
body {
  background-color: black;
  font: 'ariel', 'roboto';
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* BACKGROUND VIDEO */
#background {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-height: 100%;
}

header {
  grid-area: header;
  padding: 25px;
}

main {
  grid-area: portfolio;
  background-color: magenta;
  padding: 20px;
}

aside {
  grid-area: sidebar;
  background-color: magenta;
  padding: 20px;
}

/* footer {
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  grid-area: footer;
  background-color: black;
  width: 100%;
  color: magenta;
  text-align: right;
  font-family: 'stellar', Arial, Helvetica, sans-serif;
} */

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'header  header'
    'sidebar portfolio'
    'footer  footer';
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 4fr;
    grid-template-areas:
      'header'
      'sidebar'
      'portfolio'
      'footer';
  }
}
